<div class="footer">
  <div class="footer-container">
    <div class="footer-container_logo">
      <a href="/"><img src="../assets/images/footer-logo.png" alt="" /></a>
    </div>
    <div class="footer-container_nav">
      <a class="nav_item">Главная</a>
      <a class="nav_item">Услуги</a>
      <a class="nav_item">Портфолио</a>
      <a class="nav_item">Контакты</a>
    </div>
    <div class="footer-container_info">
      <a class="info_item" href="tel:+74951881471">+7 (495) 188-14-71</a>
      <a class="info_item" href="mailto:info@dfamedia.ru">info@dfamedia.ru</a>
      <a
        class="info_item"
        href="https://yandex.ru/maps/-/CCUyfNbFlC"
        target="_blank"
      >
        115280, Москва, ул. Ленинская Слобода, 19 (БЦ “Омега-Плаза”)
      </a>
    </div>
    {{> linksComponent}}
  </div>
</div>
