<div class="header-container">
  <div class="header-container_navbar">
    <button class="burger-left" id="burger_btn_left">
      <svg
        width="23"
        height="23"
        viewBox="0 0 23 23"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect width="23" height="3" fill="#2D2D4C" />
        <rect y="10" width="15" height="3" fill="#2D2D4C" />
        <rect y="20" width="7" height="3" fill="#2D2D4C" />
      </svg>
    </button>
  </div>

  <div class="header-container_content">
    <div class="header-container_content__logo">
      <a href="/"><img src="assets/images/logo.png" alt="logo" /></a>
    </div>
    <div class="header-container_content__info">
      <div class="info-content">
        <div class="info-content-item text-link">
          <a href="mailto:info@dfamedia.ru">info@dfamedia.ru</a>
        </div>
        <div class="info-content-item text-link">
          <a href="tel:+74951881471">8 (495) 188 14 71</a>
        </div>
      </div>
    </div>
  </div>

  <div class="header-container_navbar">
    <button class="burger-right" id="burger_btn_right">
      <svg
        width="23"
        height="23"
        viewBox="0 0 23 23"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect
          width="23"
          height="3"
          transform="matrix(-1 0 0 1 23 0)"
          fill="#2D2D4C"
        />
        <rect
          width="15"
          height="3"
          transform="matrix(-1 0 0 1 23 10)"
          fill="#2D2D4C"
        />
        <rect
          width="7"
          height="3"
          transform="matrix(-1 0 0 1 23 20)"
          fill="#2D2D4C"
        />
      </svg>
    </button>
  </div>
</div>
