<div class="content">
  <div class="content_text">
    <div class="content_text_wrapper content_text_wrapper__about">
      <span class="wrapper_subtitle">о нас</span>
      <span class="wrapper_title__about"
        >Dfa Media<span>
          — это студия разработки сайтов и мобильных приложений полного цикла
          под ключ</span
        ></span
      >
      <div class="wrapper_description-list">
        <div class="wrapper_description-list_item">
          <div class="item_pic">
            <img src="assets/images/about/about1.png" alt="" />
          </div>
          <div class="item_text">
            Создаем удобный, функциональный и красивый дизайн
          </div>
        </div>
        <div class="wrapper_description-list_item">
          <div class="item_pic">
            <img src="assets/images/about/about2.png" alt="" />
          </div>
          <div class="item_text">
            Соблюдаем высокий уровень качества разработки
          </div>
        </div>
        <div class="wrapper_description-list_item">
          <div class="item_pic">
            <img src="assets/images/about/about3.png" alt="" />
          </div>
          <div class="item_text">Тестируем IT продукты перед публикацией</div>
        </div>
        <div class="wrapper_description-list_item">
          <div class="item_pic">
            <img src="assets/images/about/about4.png" alt="" />
          </div>
          <div class="item_text">
            Разрабатываем тех. задание и прочую документацию
          </div>
        </div>
        <div class="wrapper_description-list_item">
          <div class="item_pic">
            <img src="assets/images/about/about5.png" alt="" />
          </div>
          <div class="item_text">
            Сопровождаем и оказываем техническую поддержку 24/7
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content_media">
    <div class="content_media_wrapper">
      <div class="wrapper_frame wrapper_frame__about">
        <img src="assets/images/macbookAbout.png" alt="" />
      </div>
    </div>
  </div>
</div>
