<div class="content contacts">
  <div class="content_text">
    <div class="content_text_wrapper">
      <span class="wrapper_subtitle">Контакты</span>
      <div class="wrapper_text-group">
        <div class="text-group_title">Телефон</div>
        <div class="text-group_content"><a href="tel:+74951881471">8 (495) 188 14 71</a></div>
      </div>
      <div class="wrapper_text-group">
        <div class="text-group_title">e-mail</div>
        <div class="text-group_content"><a href="mailto:info@dfamedia.ru">info@dfamedia.ru</a></div>
      </div>
      <div class="wrapper_text-group">
        <div class="text-group_title">Адрес</div>
        <div class="text-group_content adress">
          <a href="https://yandex.ru/maps/-/CCUyfNbFlC" target="_blank">115280, Москва, ул. Ленинская Слобода,19<span>
            бизнес-центр “Омега-Плаза”</span
          ></a> 
        </div>
      </div>
      <div class="wrapper_text-group">{{> linksComponent}}</div>
    </div>
  </div>
  <div class="content_media content_media__contacts">
    <div class="content_media_wrapper">
      <div class="wrapper_frame wrapper_frame__contacts" id='map'>
      
        </div>
      </div>
    </div>
  </div>
</div>
