<div class="content content__first">
  <div class="content_text">
    <div class="content_text_logo">
      <img src="assets/images/logo.png" alt="">
    </div>
    <div class="content_text_wrapper">
      <span class="wrapper_title">DFA MEDIA</span>
      <span class="wrapper_description"
        >Комплексные IT решения для Вашего бизнеса</span
      >
      <button class="wrapper_btn btn" id="app_btn">Оставить заявку</button>
    </div>
  </div>
  <div class="content_media">
    <div class="content_media_wrapper">
      <img src="assets/images/4-phone.png" alt="" />
    </div>
  </div>
</div>
