<div class="portfolio_wrapper_item">
  <div class="item_text">
    <div class="item_text_wrapper">
      <div class="wrapper_subtitle">Портфолио</div>
      <div class="wrapper_title">Приложение Play Pay</div>
      <div class="wrapper_description">
        Приложение позволяет создавать свои мероприятия. Организовывать
        голосования и общайтесь в группах событий. Участникам скидываться на
        оплату различных событий и удобно оплачивать “с карты на карту” другим
        участникам.
      </div>
      <div class="wrapper_link"><a href="#">playpay.ru</a></div>
    </div>
  </div>
  <div class="item_media">
    <div class="item_media_wrapper">
      <div class="wrapper_frame">
        <img src="assets/images/2-phones.png" alt="" />
      </div>
    </div>
  </div>
</div>
