<div class="content content__service">
  <span class="service_subtitle">Услуги</span>
  <div class="service_swiper">
    <div class="service_wrapper">
      <div class="service_wrapper_item">
        <div class="item_wrapper">
          <div class="item_wrapper_content">Создание сайтов и IT платформ</div>
          <div class="item_wrapper_media">
            <img src="assets/images/service/service1.png" alt="" />
          </div>
          <div class="item_wrapper_triangle">{{> triangleBG}}</div>
          <div class="item_wrapper_crescent">{{> crescentBG}}</div>
        </div>
      </div>
      <div class="service_wrapper_item">
        <div class="item_wrapper">
          <div class="item_wrapper_content">Разработка приложений</div>
          <div class="item_wrapper_media">
            <img src="assets/images/service/service2.png" alt="" />
          </div>
          <div class="item_wrapper_triangle">{{> triangleBG}}</div>
          <div class="item_wrapper_crescent">{{> crescentBG}}</div>
        </div>
      </div>
      <div class="service_wrapper_item">
        <div class="item_wrapper">
          <div class="item_wrapper_content">Реклама и продвижение</div>
          <div class="item_wrapper_media">
            <img src="assets/images/service/service3.png" alt="" />
          </div>
          <div class="item_wrapper_triangle">{{> triangleBG}}</div>
          <div class="item_wrapper_crescent">{{> crescentBG}}</div>
        </div>
      </div>
      <div class="service_wrapper_item">
        <div class="item_wrapper">
          <div class="item_wrapper_content">Дизайн и брендинг</div>
          <div class="item_wrapper_media">
            <img src="assets/images/service/service4.png" alt="" />
          </div>
          <div class="item_wrapper_triangle">{{> triangleBG}}</div>
          <div class="item_wrapper_crescent">{{> crescentBG}}</div>
        </div>
      </div>
    </div>
    <div class="service_navigation">
      <div class="service_navigation__prev">{{> leftArrowComponent}}</div>
      <div class="service_navigation__next">{{> rightArrowComponent}}</div>
    </div>
  </div>
</div>
